################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutomationWithCSharp/.vs/AutomationWithCSharp/v15
/AutomationWithCSharp/obj/Debug
/Automation/bin/Debug
/Automation/obj/Debug
/AutomationWithCSharp/packages
/AutomationWithCSharp/StyleCop.Cache
